*{
  font-family: "THSarabunNew";
}
div, td, h1, h2{
  font-family: Arial;
  font-family: "THSarabunNew";
  font-size:8pt;
  line-height: 1.6em;
  color: #666;
}
.company-logo{
  color:#ffffff;
  font-weight:bold;
  font-size:40px;
  text-align:center;
  background-color: #cc0000;
}
.company-header{
  font-weight:bold;
  font-size:20px;
  color:#333;
  margin-bottom:20px;
}
.company-info-box{
  color:#666;
  padding:0 20px;
}
.text-bold{
  font-weight:bold;
}
.medium-text{
  font-size: 9pt;
}
.small-text{
  font-size: 8pt;
}
.big-text{
  font-size: 16px;
}
.extra-small-text{
  font-size: 7pt;
}
.text-center{
  text-align: center;
}
.outer-frame{
  border:2px solid #000000;
  padding:2px;
}
.inner-frame{
  border:1px solid #000000;
  border-radius: 5px;
  margin:2px;
  padding:4px 10px;
}
.label-text{
  font-weight:bold;
  background-color: #cc0000;
  color: #ffffff;
  padding: 5px 10px;
  font-size: 14px;
}
.bg-grey{
  background-color: #f9f9f9;
  border:1px solid #eaeaea;
  padding:5px 10px;
}
.outer-border-black{
  border:2px solid #0000000;
}
.label-white-bg{
  padding:6px 10px;
}
.value-white-bg{
  padding:6px 10px;
}
.header-before-table{
  font-weight:bold;
  background-color: #cc0000;
  color: #ffffff;
  padding: 5px 10px;
  border:1px solid #000000;
  border-bottom:0;
  text-align:center;
  font-size:17px;
}
.black-border-bottom{
  border-bottom: 1px solid #000000;
}
h1{
  font-size: 18pt;
  font-weight:bold;
  font-family: "THSarabunNew";
  text-align:right;
  color:#cc0000;
  margin-bottom:0;
}
h2{
  font-size: 16px;
  font-weight:normal;
}
table{
  border-collapse: separate;
  border-spacing: 0px;
}
table td{
  vertical-align: top;
}
table tr td.box-border{
  width:20px;
  border: 1px solid;
}
.no-padding{
  padding:0!important;
}
table.no-border td, table.no-border th{
  border:none;
}
table td.no-border{
  border:none;
}
.borderlist td, .borderlist th{
  border-left:none;
  border-right:1px solid #000000;
  border-bottom:1px solid #000000;
  padding:4px 2px;
}
.borderlist th{
  border:1px solid #000000;
  border-left:none;
  height: 40px;
  background-color: #cc0000;
  color: #ffffff;
}
.borderlist td{
  color: #111111;
  padding:10px;
  border-bottom:1px solid #ffd2c5;
}
.borderlist .oddrow td{
  background-color: #fff2e5;
}
.borderlist .lastrow td{
  border-bottom:1px solid #000000;
}
.borderlist td.first-child, .borderlist th.first-child{
  border-left:1px solid #000000;
}
.borderlist td.text-center{
  text-align: center;
}
.borderlist td.text-right{
  text-align: right;
}
.borderlist td.top-bold{
  border-top:1px solid #000000;
}
.borderlist-content td{
  text-align:left;
  font-size: 8pt;
  border:none;
}
.borderlist-content td.choice{
  width:20px;
}
.borderlist-content td.big-choice{
  width:30px;
}
.dark-bg{
  background-color: #eaeaea;
}
.sign-group{
  margin:2px 0;
}
.sign-box{
  margin:0 2px;
  float:left;
}
.sign-circle{
  border:1px solid #000000;
  border-radius: 35px;
  margin:2px;
  margin-left: 20px;
  padding:10px 5px 0 5px;
  width:60px;
  height:60px;
  vertical-align: center;
  text-align:center;
}
.stamp-image{
  position:absolute;
  margin-top:-65px;
  margin-left:-20px;
  margin-right:-20px;
}
table.borderbottom tr td{
  border-bottom: 1px dotted #333333;
}
.border-left{
  border-left:1px solid #000;
}
.border-bottom{
  border-bottom:1px solid #000;
}
.border-right{
  border-right:1px solid #000;
}
.no-border-top{
  border-top:0px!important;
}
.darken-cell{
  background-color: #ccc;
}
.data-value{
  color:#000000;
  font-size:9pt;
}
